@charset "UTF-8";
@namespace epub "http://www.idpf.org/2007/ops";

*[epub|type~="z3998:poem"] p{
	text-align: left;
	text-indent: 0;
}

*[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

*[epub|type~="z3998:poem"] p span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

*[epub|type~="z3998:poem"] br{
	display: none;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

section[epub|type~="chapter"] ol p:first-child{
	text-indent: 0;
}

abbr.era{
	font-variant: all-small-caps;
}
